/*Note! Flask css gets cached, and a regular refresh of the page will
not show the css changes. Do Ctrl + Shift + R for a hard refresh to see changes*/

/*https://stackoverflow.com/questions/30717443/flask-does-not-load-css-file*/


body            { font-family: sans-serif; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }