{% macro input(name, label, value='', type='text', size=20) -%}
    <tr>
        <td>
            {{ label }}:
        </td>
        <td>
            <input name="{{ name }}" size="{{ size }}" type="{{ type }}" value="{{value|e }}">
        </td>
    </tr>
{%- endmacro %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>


<br />
<br />

<h1 style="text-align: center;"><span style="color: #0000ff;"><strong>Select captions and configure settings</strong></span></h1>


<form style="text-align: center;" action='/get_worksheet' method="post">
    <fieldset>
        <table style="width: 30%;">
            <input name="yt_link" style="display: none;" value="{{yt_link}}" />
            {{ input('name', label='File name', value='fill_in_blanks_sheet') }}
            <tr>
                <td>
                    Caption language:
                </td>

                {% if captions|length > 0 %}
                    <td>
                    <select name="language_initial_tuple">
                      {% for lang_initial_tuple in captions %}
                          <option value="{{lang_initial_tuple}}">{{lang_initial_tuple[0]}}</option>
                      {% endfor %}>
                    </select>
                    </td>
                {% else %}
                    <td>
                        <em>Oh no! Please submit a video with (non automatic) captions.</em>
                    </td>
                {% endif %}

            </tr>
            {{ input('skip', label='Skip every n words', value=4, type='number') }}
            <tr>
                <td>
                    Output type:
                </td>
                <td>
                    <select name="output_type" default="pdf">
                      <option value="pdf">PDF</option>
                      <option value="txt">Plaintext</option>
                    </select>
                </td>
            </tr>
        </table>

    </fieldset>

    {% if captions|length > 0 %}
        <input type="Submit" value="Generate exercise sheet"/>
    {% else %}
        <input type="Submit" value="Generate exercise sheet" disabled/>
    {% endif %}
</form>

<hr />
<p>Unfortunately we still do not support right-to-left languages (Arabic, Hebrew, etc.) or languages that are not supported by the DejaVu font.
    For the list of supported languages, please refer to this <a href="https://fontlibrary.org/en/font/dejavu-sans">link</a>.
    <br />If you want your language supported or have any additional comments, please email <em>fill.in.blanks.generator@gmail.com</em>.</p>
