<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>


<h1 style="text-align: center;"><span
        style="color: #0000ff;"><strong>Fill in the blanks YouTube generator</strong></span></h1>
</br>

    <p style="text-align: center;">If you want to practice your language listening skills or provide fun
        fill-in-the-blank
        exercises for your students, you've come to the right place! </p>
    <p style="text-align: center;"> Select any YouTube video with (non automatic) captions and instantly
        generate an
        exercise & solutions sheet! Have a look at our
        <a href="/fidb_worksheet_test">demo sheet</a> if you want to see an example.</p>

<h2 style="color: red; text-align: center;">{{errorMsg}}</h2>
<form style="text-align: center;" action='/caption_selection' method="post">
    <p><b>Enter YouTube link:</b></p>
    <p><input type="text" name="yt_link" style="width:700px;"/></p>
    <!--todo: width is horrible practice, use css instead -->
    <input type="submit" value="Find available captions">
</form>
<br/>

<p style="text-align: center;"><img style="border: 2px solid black;"
                                    src="{{url_for('static', filename='Example_Sheet.png')}}"
                                    alt="example exercise sheet image" width="700"/></p>


<hr/>
<h4 style="text-align: center;">This website was created by two software developers, one of whom is currently
    learning a
    new language
    and needs all the help she can get! <br/> We hope you find this website useful for your language
    learning.<br/>
    <br/> If you
    have any comments, ideas, or feedback, please email <em>fill.in.blanks.generator@gmail.com</em>.</h4>



