<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>

<br />
<br />

<h1 style="text-align: center;"><span style="color: #0000ff;"><strong>Fill in the blanks YouTube generator!</strong></span></h1>

<form style="text-align: center;" action='/caption_selection' method="post">
    <p>Enter YouTube link:</p>
    <p><input type = "text" name = "yt_link" style="width:700px;"/></p> <!--todo: width is horrible practice, use css instead -->
    <input type="submit" value = "Find available captions">
</form>
<br />

<p style="text-align: center;"><a href='/fidb_worksheet_test'>See our our demo worksheet!</a></p>
<br />
<br />

<hr />
<h3 style="text-align: center;">This website was created by two software developers, one of whom is currently learning a new language
and needs all the help she can get! <br /> We hope you find this website useful for your language learning.<br /> <br />  If you
have any comments, ideas, or feedback, please email <em>fake_address@gmail.com</em>.</h3>


